.App {
  margin: 0px;
  padding: 0px;
}

body{
  background-color: rgb(209, 208, 208);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.passwordGenerator {
  background-color: rgb(168, 167, 167);
  width: 300px;
  /* height: 300px; */
  padding: 20px;
}

.passwordGenerator h2 {
  text-align: center;
  margin-bottom: 10px;
}

.passwordBox {
  display: flex;
}

.passwordBox input {
  flex-basis: 80%;
  padding-left: 10px;
  border: none;
}

.passwordBox button {
  flex-basis: 20%;
  padding: 10px 0px;
  border: none;
  background-color: grey;
  color: white;
}

.passLengthDiv {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.passLengthDiv input {
  padding: 10px 0px;
  width: 50px;
  padding-left: 10px;
}

.btn {
  width: 100%;
  padding: 10px;
  font-size: large;
  border: none;
}